.driver-card {
    color: white;
    padding:10px;
    background-color: rebeccapurple;
    border-radius: 10px;
    margin-bottom: 10px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.driver-card .driver-img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-right: 5px;
}